<ul class="breadcrumb">
  <li><a ng-href="/">Home</a></li>
  <li><a ng-href="/fundraisers">Fundraisers</a></li>
  <li><a ng-href="/fundraisers/{{fundraiser.id}}">{{fundraiser.title ||'Loading...'}}</a></li>
  <li><a ng-href="/fundraisers/{{fundraiser.id}}/updates">Updates</a></li>
  <li><a>New Update</a></li>
</ul>

<div ng-include="'pages/fundraisers/partials/header.html'"></div>
<div ng-include="'pages/fundraisers/partials/nav_tabs.html'"></div>
<div class="row" ng-show="fundraiser">
  <div class="col-md-3">
    <div ng-include="'pages/fundraisers/partials/left_column.html'"></div>
  </div>

  <div class="col-md-9">
    <input id="fundraiser-title" class="col-lg-12 form-control" type="text" autofocus="true" name="title" ng-model="changes.title" placeholder="The title of your update">
    <textarea class="col-lg-12 form-control" style="margin-top:15px;" ng-model="changes.body" rows="15" placeholder="The body of your update. You can use GitHub Flavored Markdown here."></textarea>

    <div style="margin-top:15px;">
      <button ng-disabled="!changes.title || !changes.body" ng-click="save()" class="btn btn-primary">Save</button>
      <button ng-click="back()" class="btn btn-default">Cancel</button>
    </div>

  </div>

</div>
