<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/fundraisers">Fundraisers</a></li>
  <li><a ng-href="/fundraisers/{{fundraiser.id}}">{{fundraiser.title ||'Loading...'}}</a></li>
  <li><a ng-href="/fundraisers/{{fundraiser.id}}/updates">Updates</a></li>
  <li ng-show="update"><a ng-href="/fundraisers/{{fundraiser.id}}/updates/{{update.id}}">Update #{{update.number}}</a></li>
  <li ng-hide="update"><a ng-href="/fundraisers/{{fundraiser.id}}/updates/{{update.id}}">Loading...</a></li>
</ul>

<div ng-include="'pages/fundraisers/partials/header.html'"></div>
<div ng-include="'pages/fundraisers/partials/nav_tabs.html'"></div>

<div class="row" ng-show="fundraiser">
  <div class="col-md-3">
    <div ng-include="'pages/fundraisers/partials/left_column.html'"></div>
  </div>
  <div class="col-md-9">
    <div class="col-md-9">
      <div ng-show="update" ng-controller="FundraisersController">

        <div ng-show="update.published_at">
          <h2><span class="text-success">#{{ update.number }}</span> {{ update.title }}</h2>
          <div class="text-muted">Published {{ update.published_at | date }}</div>
        </div>

        <div ng-hide="update.published_at">
          <div class="alert alert-info"><strong>Note:</strong> This update has not been published. When you are ready to ship it, click the Publish button to the right!</div>
          <h2><span class="text-info">#{{ fundraiser.updates.length }}</span> {{ update.title || 'Untitled' }}</h2>
          <div class="text-muted">Last modified {{ update.updated_at | date }}</div>
        </div>

        <div style="float: right; margin-top: -70px">
          <a class="btn btn-default" ng-hide="update.published_at" ng-href="/fundraisers/{{fundraiser.slug}}/updates/{{update.id}}/edit">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit
          </a>
          <button ng-click="publish()" ng-hide="update.published_at" class="btn btn-success">
            <i class="glyphicon glyphicon-globe icon-white"></i>
            Publish
          </button>
          <button ng-click="destroy()" ng-hide="update.published_at" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash icon-white"></i>
            Delete
          </button>
        </div>

        <br />
        <div ng-bind-html="update.body_html"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-include="'pages/fundraiser_updates/partials/top_backers.html'"></div>

      <div ng-show="fundraiser.rewards.length > 0">
        <h3>Rewards</h3>
        <div ng-include="'pages/fundraisers/partials/rewards.html'"></div>
      </div>
    </div>
  </div>
</div>