<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a>Add Issue by URL</a></li>
</ul>

<div ng-show="error">
  <alert type="'error'" close="error = null">{{error}}</alert>
</div>

<form class="form-horizontal" name="form">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="issue_url">Issue URL</label>
    <div class="col-sm-8">
      <input type="url" id="issue_url" ng-model="new_issue.issue_url" class="col-md-8 form-control" placeholder="https://trac.someproject.com/ticket/123" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="title">Issue Title</label>
    <div class="col-sm-8">
      <input type="text" id="title" ng-model="new_issue.title" class="col-md-8 form-control" placeholder="Title of the issue" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="number">Issue Number</label>
    <div class="col-sm-2">
      <input type="text" id="number" ng-model="new_issue.number" class="col-md-2 form-control" placeholder="Issue number">
    </div>
  </div>

  <br />

  <div class="form-group">
    <label class="col-sm-2 control-label" for="project_name">Project Name</label>
    <div class="col-sm-8">
      <input type="text" id="project_name" ng-model="new_issue.project_name" class="col-md-8 form-control" placeholder="Name of the project" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="project_url">Project Tracker URL</label>
    <div class="col-sm-8">
      <input type="text" id="project_url" ng-model="new_issue.project_url" class="col-md-8 form-control" placeholder="https://trac.someproject.com/" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button class="btn btn-lg btn-primary" ng-disabled="form.$invalid" ng-click="create_issue()">Add Issue</button>
    </div>
  </div>
</form>
