<div class="form-group">
  <label class="col-sm-2 control-label" for="name">Name:</label>
  <div class="col-sm-3">
    <input id="name" type="text" class="form-control" ng-model="form_data.name" placeholder="Bountysource Inc." />
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="slug">Custom URL:</label>
  <div class="col-sm-9">
    <span class="text-muted" style="float: left;margin-top: 4px;">bountysource.com/teams/</span>
    <div class="col-sm-3" style="padding-left:3px;"><input id="slug" type="text" ng-model="form_data.slug" class="input-sm form-control" /></div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="image_url">Logo URL:</label>
  <div class="col-sm-4">
    <input id="image_url" type="text" style="display: inline; vertical-align: middle;" ng-model="form_data.image_url" class="input-xlarge form-control" placeholder="https://www.bountysource.com/logo.png" />
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="url">Homepage:</label>
  <div class="col-sm-3">
    <input id="url" type="url" ng-model="form_data.url" class="form-control" placeholder="https://www.bountysource.com/" />
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="bio">Bio:</label>
  <div class="col-sm-7">
    <textarea class="form-control" id="bio" ng-model="form_data.bio" rows="7" placeholder="Bountysource is the funding platform for open-source software."></textarea>
  </div>
</div>

<!--<div class="control-group">-->
  <!--<label label-default class="control-label" for="image_url">Twitter:</label>-->
  <!--<div class="col-sm-7">-->
    <!--<div class="input-group">-->
      <!--<span class="input-group-addon">@</span>-->
      <!--<input id="twitter" type="url" ng-model="form_data.twitter" placeholder="Bountysource" />-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="control-group">-->
  <!--<label label-default class="control-label" for="image_url">Facebook:</label>-->
  <!--<div class="col-sm-7">-->
    <!--<div class="input-group">-->
      <!--<input id="facebook" type="url" ng-model="form_data.facebook" placeholder="Bountysource" />-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
