<form class="form-horizontal form-signin" name="form" novalidate>
  <h2>Reset your password</h2>
  <p>Enter your email address to have a confirmation</p>

  <div class="alert alert-danger" ng-show="error">{{error}}</div>

  <div class="form-group" ng-class="{ error: (show_validations && form.email.$invalid) || (form.email.$error.email) }">
    <label class="col-sm-5 control-label" for="inputEmail">Email Address:</label>
    <div class="col-sm-7">
      <input type="email" id="inputEmail" name="email" placeholder="john@doe.com" ng-model="form_data.email" required class="form-control">
    </div>
  </div>

  <div class="form-group" ng-class="{ error: (show_validations && form.code.$invalid) }">
    <label class="col-sm-5 control-label" for="inputCode">Reset Code:</label>
    <div class="col-sm-5">
      <input type="text" name="code" id="inputCode" placeholder="abcd1234" ng-model="form_data.code" class="input-medium form-control" required>
    </div>
  </div>

  <div class="form-group" ng-class="{ error: (show_validations && form.new_password.$invalid) || (form.new_password.$error.pattern || form.new_password.$error.minlength) }">
    <label class="col-sm-5 control-label" for="inputPassword">New Password:</label>
    <div class="col-sm-5">
      <input type="password" name="new_password" id="inputPassword" placeholder="abcd1234" ng-model="form_data.new_password" class="input-medium form-control" ng-minlength="8" ng-pattern="/[a-zA-Z].*[0-9]|[0-9].*[a-zA-Z]/" required tooltip="Letter, number and 8+ characters." tooltip-placement="right" tooltip-trigger="focus">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7">
      <button type="submit" class="btn btn-success" ng-click="reset_password()">Reset Password</button>
    </div>
  </div>

</form>